@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
background: linear-gradient(to right, #bfdbfe, #3b82f6); /* azul-200 a azul-500 */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}